/* Insert font access Link --> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    transition: 0.4s linear;
}

body{
    background-color: #fff;
}

/* Page styling Start Here --> */
.image-generator{
    height: 45vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-generator::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.image-generator .content{
    color: #fff;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
    z-index: 999;
}

.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.05rem;
    color: white;
    font-weight: 500;
}

.image-generator .generate-form{
    height: 56px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    margin: 45px 0px 15px;
}

.generate-form .prompt-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background: none;
    padding: 0px 15px;
}

.generate-form .controls{
    display: flex;
    height: 100%;
    gap: 15px;
}

.generate-form .image-quantity{
    outline: none;
    border: none;
    background-color: none;
    font-size: 1rem;
}

.generate-form .generate-btn{
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: greenyellow;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0px 25px;
    cursor: pointer;
}

.generate-form .generate-btn:hover{
    background-color: rgb(131, 198, 29);
}

.generate-form .generate-btn:active{
    transform: scale(0.91);
}



/* Image gallery Section Styling Start Here ---> */

.image-gallery{
    display: flex;
    gap: 15px;
    padding: 0px 15px;
    max-width: 1250px;
    margin: 50px 0px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-gallery .img-card{
    width: 285px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.image-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery .img-card.loading img{
    width: 80px;
    height: 80px;
}

.image-gallery .img-card .download-btn img{
    width: 14px;
    height: 14px;
}

.image-gallery .img-card .download-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image-gallery .img-card:not(.loading):hover .download-btn{
    display: flex;
} 






/* Media Quiery Styling for According to device screen ----> */

@media screen and ( max-width: 760px ) {
    
    .image-generator{
        height: 50vh;
    }

    .image-generator .content{
        margin-bottom: 30px;
    }

    .image-generator h1{
        font-size: 1.8rem;
    }

    .image-generator p{
        font-size: 1rem;
        margin-top: 20px;
    }

    .image-generator .generate-form{
        margin-top: 20px;
        height: 52px;
        display: block;
    }

    .generate-form .controls{
        height: 40px;
        margin-top: 15px;
        align-items: center;
        justify-content: flex-end;
    }

    .generate-form .image-quantity{
        color: #fff;
        background: none;
    }

    .generate-form .image-quantity option{
        color: #000;
    }

    .generate-form .generate-btn{
        height: 100%;
    }

    .image-gallery{
        margin-top: 20px;
    }



}














